<div class="container">
	<row class = "text-center justify-content-sm-center">
		<h1>Metro West</h1>
		<h4>Regional Transit Authority</h4>
		<h3>Vehicle Inspection</h3>
	</row>
	<row class="d-flex justify-content-center">
		
	</row>
</div><!-- End of container -->
<div class="object-center">
<% @url = "<img src=" + "https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=#{dvir_steps_url(:vid => 1)}" %>
	<% @alternate_text = "Bus DVIR" %>
	<div id="QR" class="border"><%= raw(@url) %> title=<%= @alternate_text %> /></img>
	</div>
<div class="mx-auto">
		<%=link_to 'Test Scan',new_report_path(:vid => 137), class: "p-4 text-white bg-green-500 rounded mx-auto" %> 
</div>


