<div class="container">
	<row class = "text-center justify-content-sm-center">
		<h1>Metro West</h1>
		<h4>Regional Transit Authority</h4>
		<h3>Vehicle Inspection</h3>
	</row>
	<row class="d-flex justify-content-center">
		<%= link_to 'New Workorder',new_workorder_path, class: "btn btn-primary mx-auto" %> 
	</row>
</div><!-- End of container -->


