<div class="container">
	<div class="h1 text-center">BUS #99</div>
	<div class="h2 text-center">DVIR</div>
<div class="card" style="width: 18rem;">
	<%= image_tag 'bus.jpg', class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">CHECK VEHICLE STEERING</h5>
    <p class="card-text">Inspect vehicle steering for proper operation.</p>
    <%= link_to 'CHECK OK', next_wizard_path , class: "btn btn-success" %>
    <a href="#" class="btn btn-danger">ISSUE</a>
  </div>
</div>
</div>