<div class="container">
	<div class="h1 text-center">BUS #99</div>
	<div class="h2 text-center">DVIR</div>
<div class="card" style="width: 18rem;">
	<%= image_tag 'bus.jpg', class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">INSPECT VEHICLE WINDSHIELD</h5>
    <p class="card-text">Inspect the vehicle windshield for damage.</p>
    <a href="#" class="btn btn-success">CHECK OK</a>
    <a href="#" class="btn btn-danger">ISSUE</a>
  </div>
</div>
</div>