<h1>New Driver Vehicle Inspection Report</h1>

<%= render 'form', dvir: @dvir %>
<table class="table">
<thead>
	<tr>
		<td>Status</td>
		<td>Category</td>
		<td>Check</td>
	</tr>
</thead>
<% @inspections.each do |i| %>
	<tr>
		<td class="text-success">OK</td>
		<td><%= i.inspection_type.description %></td>
		<td><%= i.description %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Back', dvirs_path %>
