<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @inspection_type.description %>
</p>

<%= link_to 'Edit', edit_inspection_type_path(@inspection_type) %> |
<%= link_to 'Back', inspection_types_path %>
